<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368449437903-ce8kv1lhqq0h70du6fhf8a8ktvdul71j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368449437903-ce8kv1lhqq0h70du6fhf8a8ktvdul71j</string>
	<key>API_KEY</key>
	<string>AIzaSyAmXMRlSrelARdXmmurqUH2ezO4dsMC2dU</string>
	<key>GCM_SENDER_ID</key>
	<string>368449437903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Matheus-Cadena.FirebaseChat-1931358</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-1931358</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-1931358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:368449437903:ios:46f4700325eacfa25937ba</string>
</dict>
</plist>
